.w{
	width: 100%;
}

*{
	margin: 0;
	padding: 0;
}

ul, ol{
	list-style: none outside none;
}
body{
	font: 12px/20px Arial, Verdana, "微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
}
div{
	display: block;
}

.fc_r{
	    color: #eb0100 !important;
}
a{
	color: #333;
    text-decoration: none !important;
    outline: medium none;
}

.wrapper{
	width: 1200px;
    margin: 0 auto;
}




.public-top-layout{
	color: #777;
    background-color: #FAFAFA;
}

.public-top-layout .topbar{
	height: 30px;
	
}

.area_b{
	float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.area_tit{
	padding: 0 25px 0 10px;
    line-height: 30px;
    position: relative;
    z-index: 101;
}

.area_tit i{
	background:url(../img/hxj.png) no-repeat -1px -1px;
    vertical-align: middle;
    display: inline-block;
    width: 6px;
    height: 5px;
    margin-left: 6px;
}
/*隐藏部分*/
.area_con{
	width: 301px;
    padding: 10px 0 10px 10px;
    position: absolute;
    top: 30px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 2222;
    display: none;
}

.area_con .item{
	float: left;
    width: 56px;
    padding: 2px 0;
}

.public-top-layout .user-entry{
	display: inline-block;
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 12px;
}

.public-top-layout .user-entry .login{
	margin-right: 29px;
}

.public-top-layout .user-entry .login a{
	color: #eb0100;
}

.public-top-layout .quick-menu{
	font-size: 0;
    /**word-spacing: -1px;*/
    text-align: right;
    height: 30px;
    float: right;
    display: inline-block;
}

.public-top-layout .quick-menu dl{
	text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    width: 80px;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 999;
}

.public-top-layout .quick-menu dl dt{
	font-size: 12px;
    line-height: 30px;
    width: 80px;
    height: 30px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0px;
}

.public-top-layout .quick-menu dl dd{
	background-color: #FFF;
    display: none;
    width: 78px;
    border: solid 1px #F0F0F0;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
}

.public-top-layout .quick-menu dl dd ul{
	width: 78px;
}

.public-top-layout .quick-menu dl dd ul li{
	font-size: 12px;
    line-height: 28px;
    display: block;
    clear: both;
    text-align: center;
}

.public-top-layout .quick-menu dl dd.cart_list{
	width: 318px;
    top: 30px;
}

.public-top-layout .quick-menu dl dt i.red{
	position: absolute;
    top: 14px;
    right: 5px;
    background: url(../img/hxj.png) no-repeat -1px -2px;
    vertical-align: middle;
    display: inline-block;
    width: 6px;
    height: 5px;
    margin-left: 6px;
}

.public-top-layout .quick-menu dl dt i{
	position: absolute;
    top: 14px;
    right: 5px;
    background: url(../img/xj1.png) no-repeat -1px -1px;
    
    vertical-align: middle;
    display: inline-block;
    width: 6px;
    height: 3px;
    margin-left: 6px;
}

.public-top-layout .quick-menu a{
	color: #777;
}


.header-wrap{
	background-color: #FFF;
    width: 100%;
}

.public-head-layout{
	height: 125px;
}

.public-head-layout .site-logo{
	width: 190px;
    height: 69px;
    overflow: hidden;
    float: left;
    margin: 27px 194px 21px 0;
}




.head-search-bar{
	width: 439px;
    float: left;
    margin: 15px 0 0;
    overflow: hidden;
}

.head-search-bar .search-form{
	width: 439px;
 	height: 59px;
}

.sctab{
	height: 25px;
    display: table;
}











.head-search-bar .search-form input{
	display: inline-block;
    float: left;
}

.head-search-bar .input-text{
	width: 256px;
    line-height: 32px;
    height: 32px;
    border-top: 1px solid #e60012;
    border-bottom: 1px solid #e60012;
    border-left: 1px solid #e60012;
    border-right: none;
    background: url(../img/fdj.png) 6px 4px no-repeat;
    color: #555;
    padding-left: 40px;
    font-size: 12px;
    border-radius: 0;
    
}

.head-search-bar input{
	width: 70px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    /*float: left;*/
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.head-search-bar .sc_goods{
	background-color: #e60012;
    margin-right: 2px;
}

.head-search-bar .sc_stores{
	    background-color: #666666;
}

.head-search-bar .keyword{
	font-family: "微软雅黑", Arial, "宋体";
    line-height: 24px;
    height: 24px;
    color: #999;
    width: 439px;
    overflow: hidden;
}

.head-search-bar .keyword ul{
	font-size: 0;
    
    vertical-align: top;
    display: inline-block;
}

.head-search-bar .keyword ul li{
	font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    
    margin-right: 12px;
}

.head-search-bar .keyword ul li a{
	    color: #999999;
    font-family: "宋体", Arial;
}


.head-user-menu{
	font-size: 0;
    
    float: right;
    margin: 36px 0 0;
    height: 36px;
    width: 177px;
    background: url(../img/400088.png) 0px 1px no-repeat;
    
}


.public-nav-layout{
	width: 100%;
    height: 36px;
    position: relative;
    z-index: 1111;
}


.bdb_r{
	border-bottom: 1px solid #eb0000;
}


.public-nav-layout .all-category{
	display: block;
    width: 190px;
    height: 36px;
    float: left;
    font-family: "微软雅黑", Arial, "";
    position: relative;
}

.public-nav-layout .all-category h3{
	line-height: 36px;
    height: 36px;
    background-color: #ed1623;
    padding: 0 14px 0 27px;
    width: 149px;
}

.public-nav-layout .all-category h3 a{
	    color: #FFF;
    font-size: 15px;
    float: left;
    margin-left: 14px;
}

.public-nav-layout .site-menu{
	font-size: 0;
    *word-spacing: -1px;
    float: left;
}

.public-nav-layout .site-menu li{
	vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    position: relative;
}

.public-nav-layout .site-menu li a{
	font-family: "微软雅黑", Arial, "宋体";
    font-size: 15px;
    line-height: 36px;
    color: #323232;
    height: 36px;
    padding: 0 18px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}


.nch-breadcrumb-layout{
	text-align: center;
}

.nch-breadcrumb{
	font-size: 0;
    *word-spacing: -1px;
    text-align: left;
    height: 20px;
    padding: 10px 0;
    margin: 0 auto;
}

.nch-breadcrumb i{
	display: inline-block;
	font-size: 14px;
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background: url(../img/xwz.png) no-repeat -1px 3px;
}


.nch-breadcrumb span{
	font-size: 12px;
    line-height: 20px;
    color: #999;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    height: 20px;
    zoom: 1;
}

.nch-breadcrumb a{
	color: #777;
    display: block;
}

/*中间部分*/
.pr{
	position: relative;
}

.ncs-detail{
	width: 100%;
    display:table;
    margin-bottom: 10px;
    border: solid 1px #EEE;
    position: relative;
    z-index: 2;
}

.ncs-goods-picture{
	width: 367px;
    background-color: #FFF;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

.tb-booth{
	width: 360px;
    height: 360px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.tb-s310, .tb-s310 a{
	height: 360px;
    width: 360px;
}

.tb-pic a{
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tb-s310, .tb-s310 img{
	height: 360px;
    width: 360px;
    display: block;
}

.tb-thumb{
	height: 55px;
    overflow: hidden;
}

.tb-thumb li{
	margin: 5px 5px 0 0;
    float: left;
    /* height: 46px; */
    padding: 2px;
    overflow: hidden;
}

.tb-thumb .tb-selected{
	height: 50px;
}

.tb-s40, .tb-s40 a{
	height: 50px;
    width: 50px;
    overflow: hidden;
}

.tb-thumb .tb-selected div{
	border: medium none;
}

.tb-pic a{
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tb-selected a img{
	border: 2px solid #f00;
}

.tb-s40 a img{
	width: 46px;
    height: 46px;
    border: 2px solid #f0f0f0;
}

.tb-pic a img{
	vertical-align: middle;
}

/*center*/
.ncs-goods-summary{
	position: relative;
    background-color: #FAFAFA;
    float: left;
    width: 622px;
    min-height: 460px;
    
    margin-left: 369px;
    
    border-right: solid 1px #EEE;
    box-shadow: inset 4px 0 1px rgba(153,153,153,0.15);
}

.ncs-goods-summary .name{
	padding: 15px 25px;
    min-height: 58px;
}

.ncs-goods-summary .name h1, .ncs-goods-summary .name strong{
	font: 700 16px/21px Tahoma;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.ncs-meta_a{
	height: 85px;
}

.ncs-plus{
	padding: 0;
}

.ncs-meta dl dt, .ncs-plus dl dt, .ncs-key dl dt{
	font-family: simsun;
    text-align: right;
    width: 96px;
    margin-right: 6px;
}

.ncs-plus dl dt, .ncs-plus dl dd, .ncs-meta dl dt, .ncs-meta dl dd, .ncs-key dl dt, .ncs-key dl dd{
	font-size: 12px;
    line-height: 20px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    min-height: 20px;
    padding: 2px 0;
    *zoom: 1;
}

.ncs-meta dl dd, .ncs-plus dl dd, .ncs-key dl dd{
	text-align: left;
    width: 510px;
}

.ncs-freight dd span{
	margin-right: 10px;
}

.ncs-freight dd span em{
	padding: 0 2px;
}

i, cite, em{
	font-style: normal;
}

.ncs-plus ul{
	position: relative;
    z-index: 10;
    clear: both;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.ncs-plus ul li span{
	display: inline-block;
	margin-left: -24px;
}


.ncs-key{
	border-top: dotted 1px #DDD;
    padding-top: 15px;
}



.ncs-figure-input a.increase{
	top: 2px;
}

.ncs-figure-input a.decrease{
	top: 18px;
}

.ncs-figure-input{
	position: relative;
    z-index: 1;
}

.w30{
	width: 30px;
	font: 12px/20px Tahoma;
    color: #777;
    background-color: #FFF;
    float: left;
    display: block;
    height: 20px;
    padding: 4px;
    border: solid 1px #CCC;
    outline: 0 none;
}

.ncs-figure-input span{
	margin-left: 30px;
    color: #999;
}




.ncs-figure-input a{
	font: 11px/12px sans-serif, serif, Arial;
    color: #AAA;
    background-color: #FFF;
    text-align: center;
    display: block;
    width: 16px;
    height: 12px;
    border: solid 1px #CCC;
    position: absolute;
    z-index: 1;
    left: 42px;
    -webkit-text-size-adjust: none;
}


.ncs-goods-summary .ncs-btn{
	display: inline-block;
    margin: 10px 0 0 20px;
    position: relative;
    z-index: 7;
    zoom: 1;
}

.ncs-point{
	display: inline-block;
}

.ncs-point span{
	line-height: 20px;
    display: inline-block;
    height: 20px;
    padding: 5px;
}

.ncs-goods-summary .ncs-btn #addcart{
	background-color: #D93600;
	position: relative;
    left: 8px;
    display: block;
  
    height: 32px;
    padding: 0 18px;
}



.ncs-goods-summary .ncs-btn a.addcart span{
	display: inline-block;
	
	line-height: 32px;
}
.icon-shopping-cart{
	font-size: 17px;
	display: inline-block;
	height: 25px;
	width: 20px;
	float: left;
    margin-right: 6px;
    background: url(../img/gwc5.jpg) no-repeat -2px 6px;
}



.ncs-goods-summary .ncs-btn a.buynow, .ncs-goods-summary .ncs-btn a.addcart, .ncs-goods-summary .ncs-btn a.no-buynow, .ncs-goods-summary .ncs-btn a.no-addcart{
	font: lighter 16px/20px "Microsoft Yahei";
    color: #FFF;
    text-align: center;
    display: block;
    height: 20px;
    padding: 6px 18px;
    margin-right: 10px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgba(204,204,204,0.25);
}



.ncs-handle{
	width: 350px;
    height: 24px;
    padding-top: 10px;
    border-top: dotted 1px #EEE;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 415px;
}

.ncs-handle a{
	color: #777;
    background-color: #FFF;
    float: left;
    padding: 1px 6px;
    margin-right: 5px;
    border: solid 1px #F5F5F5;
    border-radius: 4px;
}

.ncs-handle a.compare i{
	    background: url(../img/xkk.jpg) no-repeat -1px -1px;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 4px;
}


.ncs-handle a span{
	font-family: Arial;
    color: #AAA;
    margin-left: 4px;
}


/*右边*/
.ncs-info{
	width: 210px;
}

.ncs-info .title{
	background-color: #F5F5F5;
    padding: 5px 10px;
    border: solid 1px #E6E6E6;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td{
	font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

.ncs-info .content{
	border: solid #E6E6E6;
    border-width: 0 1px 1px;
}

.ncs-info .content dl{
	font-size: 0;
    *word-spacing: -1px;
    display: block;
    border-bottom: solid 1px #E6E6E6;
    padding: 6px 0;
}

.ncs-info .content dl dt{
	font-size: 12px;
    color: #666;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: right;
    display: inline-block;
    *display: inline;
    width: 68px;
    *zoom: 1;
}

.ncs-info .content dl dd{
	font-size: 12px;
    color: #333;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    *display: inline;
    width: 130px;
    *width: 125px;
    overflow: hidden;
    zoom: 1;
}

.ncs-info .all-rate .rating{
	background: url(../img/dmz.png) no-repeat 0 -2px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    width: 79px;
    height: 17px;
    *zoom: 1;
}

.ncs-info .content .busi-name{
	margin-right: 8px;
    float: left;
    width: 54px;
}

.ncs-info .content #busi{
	background: url(../img/jh.jpg) no-repeat 0px 0px;
	    margin-top: -5px;
    width: 40px;
        background-size: 27px 27px;
    display: inline-block;
    
    height: 27px;
}

.ncs-info .goto{
	text-align: center;
    padding: 10px 0;
}

.ncs-info .goto a{
	color: #005EA6;
    margin: 0 10px;
}

.ncs-info .goto a em{
	color: #999;
    font-weight: 600;
    margin-left: 2px;
    vertical-align: middle;
}

.shop-other{
	width: 208px;
    height: 36px;
    margin-top: 10px;
}

.ncs-info-btn-map{
	    width: 103px;
    height: 36px;
    border-top: solid 1px #E7E7E7;
    border-right: solid 1px #E7E7E7;
    float: left;
}

.ncs-info-btn-qrcode{
	width: 103px;
    height: 36px;
    border-top: solid 1px #E7E7E7;
    border-left: solid 1px #FFF;
    float: left;
}


.ncs-info-btn-map a, .ncs-info-btn-qrcode a{
	line-height: 16px;
    color: #555;
    background: url(../img/xxewm.png) no-repeat 6px 8px;
    padding-left: 20px;
    width: 73px;
    height: 16px;
    float: left;
    padding: 9px 1px 10px 29px;
    border-top: solid 1px #FFF;
    position: relative;
    z-index: 999;
}

.ncs-info-btn-map a{
	background: url(../img/xjz.png) no-repeat 6px 8px;
}


/*下面部分*/
.ncs-goods-layout{
	width: 100%;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.expanded .ncs-goods-main{
	float: right;
    width: 980px;
}

.expanded #main-nav{
	width: 980px;
}

.tabbar{
	background: #FFF;
}

.ncs-goods-title-nav{
	margin-top: 7px;
}

.ncs-goods-title-nav ul{
	font-size: 0;
    *word-spacing: -1px;
    background-color: #FCFCFC;
    border: solid #D7D7D7 1px;
}

.ncs-goods-title-nav ul li{
	vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
}

.ncs-goods-title-nav ul li.current{
	margin: -7px 0 -1px -1px;
}

.ncs-goods-title-nav ul li.current a{
	color: #333;
    background-color: #FFF;
    padding: 11px 15px 6px 15px;
    border-style: solid;
    border-color: #D93600 #DDD transparent #DDD;
    border-width: 2px 1px 0 1px;
}

.ncs-goods-title-nav ul li a{
    font: normal 14px/20px "Microsoft Yahei";
    text-decoration: none;
    color: #777;
    background-color: #F5F5F5;
    display: block;
    padding: 6px 15px 5px 15px;
    border-style: solid;
    border-color: #D7D7D7;
    border-width: 0 1px 0 0;
}


.nc-goods-sort{
	font-size: 0;
    *word-spacing: -1px;
    background-color: #FFF;
    border: solid #DDD;
    border-width: 0 1px 1px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.nc-goods-sort li{
	font-size: 12px;
    line-height: 20px;
    letter-spacing: normal;
    word-spacing: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 23%;
    padding: 0 0 0 2%;
    margin: 0;
    overflow: hidden;
}

.ncs-goods-info-content{
	padding-bottom: 23px;
}

.default, .top-template, .bottom-template{
	padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.default img{
	display: inline-block;
	max-width: 980px !important;
    overflow: hidden;
    vertical-align: top;
}

.ncs-goods-title-bar img{
	width: 980px;
}

.ncs-goods-info-content img{
	width: 980px;
}


.ncs-goods-title-bar{
	background-color: #FCFCFC;
    border-style: solid;
    border-color: #D93600 #D7D7D7 #F5F5F5 #D7D7D7;
    border-width: 2px 1px 1px 1px;
}

.ncs-goods-info-content{
	padding-bottom: 23px;
}

.ncs-norecord{
	color: #999;
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 15px 0;
    background-color: #FFF;
    border: none !important;
}

.ncs-recommend{
	clear: both;
}

.ncs-recommend .title{
	background-color: #FFF;
    height: 20px;
    padding: 5px 10px;
    border-bottom: solid 2px #D93600;
}

.ncs-recommend .content{
	overflow: hidden;
}

.ncs-recommend .content ul{
	font-size: 0;
    *word-spacing: -1px;
    white-space: nowrap;
    padding: 10px 0 5px 0;
    margin-left: -5px;
}

.clear{
	clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.ncs-recommend .content ul li{
	font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    width: 20%;
    padding: 10px 0 5px 0;
    border-left: dotted 1px #E6E6E6;
    *zoom: 1;
}

.ncs-recommend .content ul li dl{
	text-align: center;
    width: 100%;
    padding-top: 120px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

.ncs-recommend .content ul li .goods-name{
	line-height: 18px;
    white-space: pre-wrap;
    height: 36px;
    width: 90%;
    overflow: hidden;
    margin: 8px auto;
}

.ncs-recommend .content ul li .goods-pic{
	background: #FFF;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    position: absolute;
    top: 0px;
    left: 50%;
}

.ncs-recommend .content ul li .goods-price{
	font-weight: 600;
    color: #D93600;
    height: 20px;
}

.ncs-recommend .content ul li .goods-pic a{
	background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.ncs-recommend .content ul li .goods-pic a img{
	width: 120px;
    height: 120px;
}

.ncs-message-bar{
	border: solid 1px #D7D7D7;
    margin-bottom: 10px;
    width: 218px;
}

.default img{
	max-width: 980px !important;
    overflow: hidden;
}

.ncs-message-bar .default{
	padding: 9px;
    border-top: solid 1px #D7D7D7;
    margin-top: -1px;
}

.ncs-message-bar .service-list{
	border-top: solid 1px #D8D8D8;
}

.ncs-message-bar dl{
	width: 180px;
    padding: 9px;
    overflow: hidden;
}

.ncs-message-bar dt{
	line-height: 20px;
    font-weight: 600;
    color: #333;
    display: block;
}

.ncs-message-bar dd{
	color: #555;
    margin-left: 16px;
    clear: both;
    padding: 4px 0;
}

.ncs-message-bar dd span{
	line-height: 22px;
    margin: 0 6px 0 0;
}


.ncs-class-bar p{
	background-color: #F9F9F9;
    border-bottom: solid 1px #E7E7E7;
    height: 28px;
    width: 210px;
}

.ncs-class-bar p span{
	text-align: center;
    display: inline-block;
    width: 23%;
    height: 20px;
    padding: 4px 0;
    *display: block;
    *float: left;
}

.ncs-class-bar p a{
	line-height: 16px;
    color: #777;
    padding: 2px;
}

.ncs-search{
	display: block;
    padding: 5px;
    border-bottom: dotted 1px #D7D7D7;
}

.w120{
	width: 120px !important;
	font: 12px/20px Tahoma;
    color: #777;
    background-color: #FFF;
    float: left;
    display: block;
    height: 20px;
    padding: 4px;
    border: solid 1px #CCC;
    outline: 0 none;
}

p{
	    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a.ncs-btn{
 	font: normal 14px/20px "Microsoft Yahei";
    color: #777;
    background-color: #F5F5F5;
    text-align: center;
    display: inline-block;
    height: 20px;
    padding: 4px 16px;
    border: solid 1px;
    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
    cursor: pointer;
}

.ncs-submenu{
	width: 170px;
    margin: 5px 13px 5px 15px;
    height: 122px;
}

.ncs-submenu li{
	font-weight: 600;
    text-align: left;
    margin: 6px 0;
    /*clear: both;*/
}

.ico-none, .ico-block{
	width: 10px;
    height: 10px;
    text-align: center;
    margin: 5px 10px 5px 0;
    border-radius: 2px;
}

.ico-none em, .ico-block em{
	font-size: 12px;
    line-height: 10px!important;
    height: 10px;
}

.ncs-submenu li a{
	line-height: 20px;
    word-wrap: break-word;
    display: inline-block;
    *dispaly: inline;
    max-width: 135px;
    color: #333;
    overflow: hidden;
    *zoom: 1;
}

.ncs-class-bar{
	width: 210px;
	height: 218px;
}

.ncs-top-bar p{
	width: 130px;
    margin: 10px auto;
}

.ncs-top-bar p a{
	line-height: 38px;
    color: #333;
    background-color: #FEF4B1;
    text-align: center;
    width: 128px;
    height: 38px;
    border: solid 1px #FFD863;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.1);
}

.ncs-top-bar .content{
	
	width: 210px;
}

.w{
	width: 100%;
}

.faq{
	padding-top: 40px;
    padding-bottom: 24px;
    overflow: hidden;
}

.faq dl{
	font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 210px;
    float: left;
    zoom: 1;
    padding-left: 16px;
}

.bgc_gray{
	    background-color: #FAFAFA;
}


.faq .serv_tp{
	width: 188px !important;
    padding-left: 10px;
    margin-right: 90px;
}

.faq .serv_tp h2{
	width: 188px;
    height: 45px;
    border-bottom: 1px solid #aaaaaa;
    
}

.faq .serv_tp h3{
	width: 188px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.faq .serv_tp h4{
	width: 188px;
    padding-left: 10px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: #a9a9a9;
}


.faq .serv_tp h4 span{
	    width: 87px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
}

.bod_l1{
	    border-left: solid 1px #E6E6E6 !important;
}

.faq dl dt{
	font: 16px/20px "microsoft yahei";
    color: #666;
    padding: 10px 5px;
    margin: 5px 0;
}

.faq dl dd{
	 font: 12px/20px "microsoft yahei";
    white-space: nowrap;
    overflow: hidden;
    display: block;
    clear: both;
    padding: 2px 5px;
    overflow: hidden;
}


/*下面*/

.footer_l{
	width: 100%;
    display: table;
    background-color: #000000;
}

.footer_m{
	width: 1200px;
    margin: 0 auto;
    display: table;
    color: #ffffff;
    padding-bottom: 20px;
    position: relative;
    top: 0;
    left: 0;
}

.ft_nav{
	width: 1200px;
    display: table;
    margin: 0 auto;
    padding-top: 13px;
}

.ft_nav li{
	display: inline;
    line-height: 28px;
    font-size: 14px;
    color: #ffffff;
    width: auto;
}

.ft_nav li a{
	color: #ffffff;
    margin-right: 8px;
}

















.footer_l .page{
	margin-left: 0;
}

.footer_l .appre1{
	width: 300px;
    margin-top: 3px;
    font-size: 14px;
    color: #666666;
}

.footer_l .appre1 a{
	color: rgb(102,102,102)
}

.footer_m .appres{
	margin-top: 2px;
    font-size: 14px;
    color: #ffffff;
}

.footer_m .appres a{
	font-size: 14px;
    color: #ffffff;
}

.footer_l .appre2{
	width: 300px;
    margin-top: 3px;
    font-size: 14px;
    color: #666666;
}

.footer_l .appre2 a{
	color: rgb(102,102,102);
}

.ft_tools{
	position: absolute;
    top: 125px;
    left: 420px;
}

.ft_tools li{
	display: inline-block;
    width: auto;
}


.ft_tools li img{
	    width: 103px;
    height: 32px;
}



div.zoomDiv{
	z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    display: none;
    text-align: center;
    overflow: hidden;
        top: 233px;
    left: 482.5px;
    width: 360px;
    height: 360px;
}
/*划入*/
/*top: 233px;
    left: 482.5px;
    width: 360px;
    height: 360px;
    display: block;*/
.jqzoom{
	position: absolute;
	top: 0;
}


div.zoomMask{
	position: absolute;
    background: url(http://www.lecuntao.com/shop/templates/default/images/mask.png?v=e3ce16f9d8) repeat scroll 0 0 transparent;
    cursor: move;
    z-index: 99;
}

/*小区域划入*/

/*    width: 180px;
    height: 180px;
    visibility: visible;
    top: 317px;
    left: 228px;*/

div.zoomDiv img{
	width: 720px;
	height: 720px;
	position: absolute;
}






